<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling_index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Viewer</title>
    <h1>Stock Info Viewer!</h1>
    <h2>Just type in the company's symbol</h2>
    <form method="POST" action="/stock_info">
        Enter symbol: <input type="text" name="tick"><br><br>
        <br><input type="submit">
    </form>
</head>
<body>
    <p>
        <h3>Company Ticker Examples</h3>
        <h4>MSFT - Microsoft Inc<br>
        AAPL - Apple Inc<br>
        TSLA - Tesla Inc</h4>
    </p>

</body>
</html>