<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling_info.css') }}">
    <title>Company Stock Info</title>
</head>
<body>
    <h1>The stock price for {{company}} is currently: {{current}}$<br>
        The high price for today is: {{high}}$<br>
        the low price for today is: {{low}}$
    </h1>
    <h2>
        The amount of money spent by {{company}} to <br>
        lobby the government in the past year is: {{money}}$
    </h2>
</body>
</html>




